/* Color de la pagina */
body {
    margin: 0;
    background: rgb(199, 66, 29);
    background: linear-gradient(34deg, rgba(199, 66, 29, 1) 0%, rgba(235, 166, 45, 1) 42%, rgba(255, 138, 52, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

/* Boton de inicio */
button { 
    font-family: 'Bruno Ace SC', sans-serif;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Cualquier link, texto blanco */
a {
    color: white;
    text-decoration: none;
    transition: 2s;
}

/* cambia a azul cuando dejamos el mouse arriba */
a:hover {
    color: blue;
}

/* Cuadro negro donde mostraremos los platillos y su descripcion */
.formulario {
    width: 1000px;
    margin: 100px;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Tablero central donde moveremos el contenido */
.contenido-central {
    text-align: center;
    color: white;
    margin-top: 80px; /* Evitar que choque el titulo con la barra */
}

/* Texto del index */
.texto-centro {
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 100px;
    color: black;
}

/* Texto principal de las paginas mismo formato que el index para mostrar
que se trata de un titulo */
.texto-titular {
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 40px;
    color: black;
}

/* Texto titular de la descripcion de los platillos */
.texto-principal {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: bold;
}

/* Div donde va la informacion de contacto*/
.contacto {
    background: black;
    color: white;
    padding: 10px;
    width: 100%;
    height: 80px;
    text-align: center;
    position: fixed; /* no ve desplace, se mantenga en la pagina */
    bottom: 0; /* poner al fondo */
}

/* separa los elementos dentro del div en columnas */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila {
    display: flex;
    justify-content: center;
}

/* Cuadro negro para visualizar el contenido de los elementos en el menu */
.cuadro {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px; /* distancia entre los elementos */
    background-color: black;
    text-align: center;
}

/* Menu superior, donde vamos a movernos por los html */
#barra { 
    background: black;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
}

/* links de la barra */
#barra a{
    color: white;
    text-decoration: none;
    margin-right: 20px; /* margen separar links */
    margin-left: 20px;
}

/* efecto al poner mouse arriba */
#barra a:hover{
    transition: 2s;
    color: blue;
}